.search-result {
  background: rgb(217, 207, 232);
  border: 1px solid black;
  border-radius: 0.6rem;
  box-shadow: 1rem;
}

.search-user:hover {
  background: rgb(236, 226, 239);
  /* color: rgb(30, 28, 28); */
}
