@import url("../../style.css");

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  width: 5rem;
  /* background-color: var(--primary-color); */
  /* color: white; */
  text-align: center;
  /* border-radius: 0.5rem; */
  /* padding: 0.2rem 0; */
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: -2.5rem;
  top: 101%;
  font-size: 0.9rem;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.brand-name {
  color: darkmagenta;
}
