.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10rem;
}

.landing-page-box {
  height: 70vh;
  width: 25rem;
}

.landing-page-image {
  height: 85vh;
  width: 30rem;
}

.brand-name {
  color: darkmagenta;
}
