.search-result {
  /* background: dimgray; */
  background: #100d12;
}

/* .filter-container { */
/* position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
/* height: 100vh;
  display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* background: rgba(0, 0, 0, 0.7); */
/* } */

.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  /* width: 100%; */
  height: 100%;
  /* right: 0;
  z-index: 1;
  top: 0;
  left: 0; */
}

.btn-color-theme {
  background: #e1aff9;
  border: none;
}

.btn-color-theme:hover {
  background: #c979ed;
}
