@import url(./style.css);

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.App {
  font-family: sans-serif;
}
.App button.update-post {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

#portal .filter-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 100vh; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background: rgba(0, 0, 0, 0);
}

.container .editModal,
.create-post-modal {
  z-index: 1;
  width: 30rem;
  overflow-y: auto;
  /* height: 220px; */
  background: white;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}

.container .edit-profile-modal {
  /* z-index: 1; */
  width: 22rem;
  overflow-y: auto;
  /* height: 220px; */
  background: white;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 5px;
  /* position: relative; */
  /* animation: animate 0.3s; */
}

.container .following-modal,
.followers-modal {
  /* z-index: 1; */
  width: 20rem;
  padding: 1rem;
  /* height: 10rem; */
  /* max-height: 15rem; */
  overflow-y: auto;
  background: white;
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
  border-radius: 5px;
  /* justify-content: center; */

  /* position: relative; */
  /* animation: animate 0.3s; */
}

.editModal .btn-close-post,
.create-post-modal .btn-close {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 0.4rem 0.7rem;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.following-modal .btn-close,
.followers-modal .btn-close,
.edit-profile-modal .btn-close {
  /* position: absolute; */
  /* top: 7px;
  right: 7px; */
  padding: 0.4rem 0.7rem;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.edit-profile-modal .btn-save {
  /* position: absolute; */
  /* top: 7px;
  right: 7px; */
  padding: 0.7rem 1rem;
  background: var(--primary-color);
  margin: auto;
  color: white;
  font-weight: bold;
  border: none;
  /* outline: none; */
  border-radius: 0.5rem;
  /* cursor: pointer; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
